* { font-size: 11px !important; font-family: "Roboto",sans-serif;}

/* 스크롤 제거 */
.invisible-scrollbar::-webkit-scrollbar {
   display: none;
}

/* data table */
#farm-list-data tr:hover
{
   background: #c9c7c7;
}
