#daumGnb {
   position: fixed;
   width: 75px;
   left: 0;
   top: 0;
   bottom: 0;
   background-color: #292929;
   z-index: 10;
   font-family: Helvetica,Arial,sans-serif;
}

.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}   


/* 메뉴바 */
#gnbMenu {
   position: relative;
   z-index: 11;
   margin: 0;
   padding: 0;
}
#gnbMenu li{
   height: 68px;
   background-color: #ffcd36;
   border-bottom: 1px solid #302A24;
   transition: background .5s ease;
   -webkit-transition: background .5s ease;
   position: relative;
   list-style: none;
}
#gnbMenu li:hover{
   height: 68px;
   background-color: #302A24;
   border-bottom: 1px solid #302A24;
   transition: background .5s ease;
   -webkit-transition: background .5s ease;
   position: relative;
   list-style: none;
}
#gnbMenu li>a {
   line-height: 100px;
   display: block;
   width: 100%;
   height: 100%;
   font-size: 13px;
   line-height: 70px;
   text-align: center;
   color: #302A24;
}
#gnbMenu li>a img {
   width: 100%;
   padding: 17px;
}


/* Admin 메뉴 */
#adminMenu {
   position: relative;
   z-index: 11;
   margin: 200px 0 0 0;
   padding: 0;
   background: #302A24;
}
#adminMenu li{
   height: 68px;
   background-color: #302A24;
   border-bottom: 1px solid #ffcd36;
   transition: background .5s ease;
   -webkit-transition: background .5s ease;
   position: relative;
   list-style: none;
}
#adminMenu li>a {
   line-height: 100px;
   display: block;
   width: 100%;
   height: 100%;
   font-size: 13px;
   line-height: 70px;
   text-align: center;
   color: #ffcd36;
}
#adminMenu li>a img {
   width: 100%;
   padding: 17px;
}

/* 검색바 */
#search {

   font: 12px/1.5 'Malgun Gothic','돋움',dotum,sans-serif;
   letter-spacing: -1px;
   font-size: 12px;
   line-height: 1.5;
   font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
   color: #fff;
   margin: 0;
   padding: 0;
   float: left;
   width: 256px;
}

#topMenu {
   margin-left: 86px;
   width: 200px;
   position: absolute;
   top:0; left: 0;
   z-index: 2;
   background: white;;
}

